/* import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600&display=swap');

body {
  font-family: 'Figtree', sans-serif;
  /* background-color: '#F4F1EA'; */
  background-color: #f8f8f8}

.dragging {
  opacity: 1 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease-in-out;
}

/* Add this to your CSS file */
.scrollbar-thin {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color:  #f3f4f6 white; /* For Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px; /* Thin width */
  height: 8px; /* Thin height for horizontal scrollbars */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #f3f4f6; /* Thumb color */
  border-radius: 4px; /* Rounded corners */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f3f4f6; /* Track color */
}